/* this .align-center is how i centered text on page */
.align-center {
  text-align: center;
  font-weight: bolder;
}
/* using four different colors that were classes in my html and calling them here */
.green {
  color: rgba(115, 209, 115, 0.452)
}
.white {
  color: rgba(255, 255, 255, 0.952)
}
.dark-blue {
  color: rgba(228, 228, 236, 0.733)
}
.aqua {
  color: rgb(62, 175, 175)
}
/* used @import to bring in a font from google font */
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

body {
  font-family: 'Scheherazade New', serif;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 25px;
  padding: 70px;
}
/* image for background for footer - here i'm calling it by it's class in index.html, using image link, and modifying the text */
.foot-image { 
background-image: url(https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80); 
height: 550px; /* height of background image */
width: 1000px; /*width of background image*/
text-align: left; /* keeps text to the  left so it matches up with background */
 color: white; 
   font-size: 40px;
background-repeat: repeat; /* Keeps image from repeating since it is not very wide */ 
} 
/* my e-mail and contact me link colors */  
a:link    { color:  hsl(120, 57%, 82%);  } 
a:visited { color: hsl(0, 0%, 97%); } 
a:hover   { color: hsla(108, 60%, 60%, 0.836); } 
a:active  { color: hsl(120, 100%, 10%); }                                         
::after   { color:hsla(108, 60%, 60%, 0.836)}  

body {
  margin: 35px;
}
h2 {
  font-size: 25px;
}
h1 {
  font-size: 50px;
}
